*
{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#Header_section
{
    width: 100%;
    height: 100vh;
    background-image: url(./images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    
}
.tite_header
{
    width: 100%;
    height: 100vh;
    background-color: rgba(4, 4, 4, 0.621);
    padding: 10% 20%;
}
.tite_header h1
{
    width: 900px;
    font-size: 70px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    
}
.tite_header p
{
    width:800px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 40px;
    line-height: 20px;
}
.btn
{
    background-color: #FF5959;
    outline: none;
    padding: 20px 40px;
    border:none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 20px;
    margin: 10px 22%;

}
.Middel_section
{
  margin: 20px;
  margin-top: 10%;
  
}
.middel_header h1
{
    text-align: center;
    font-size: 50px;
    font-weight: 900;

}
.middel_header p
{
    width: 600px;
    text-align: center;
    margin-left: 30%;
    padding: 20px 0px;
    font-size: 15px;
    color: #707070;
    line-height: 30px;
    
   
}
.amounts
{
    display: flex;
    padding: 50px 10%
}
.amounts h3{
    width: 100px;
    background: #36363627;
    padding: 40px 20px;
    margin: 10px 50px;
    text-align: center;
    font-size: 30px;
    color: #707070;
    font-weight: 700;

}
.amounts h3:hover
{
    color: #f0142e;
    border: 2px solid #f0142e;
    
}

.middel_form
{
    width: 600px;
    margin: 10px 30%;
}
.middel_form input
{
    width: 500px;
    height: 30px;
    margin: 5px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #707070;
}

.middel_form input::placeholder
{
    
    color: #B3B3B3;
    
    
}
.btn2
{
    margin: 20px 27%;
}
.all_card
{
    display: flex;
}
.iteam_card
{
    width: 30%;
    padding: 20px 10px;
    margin: 30px;
    box-shadow: 5px 5px 5px 5px rgba(36, 36, 36, 0.168);
    overflow: hidden;
    border-radius: 5px;
}
.iteam_card h3
{
   
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
}
.iteam_card img
{
    width: 50px;
}
.iteam_card p
{
    width: 80%;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    margin-top: 20px;
    color: #707070;
    font-weight: 500;
}
.color3
{
    background-color: #FFF4D6;
}
.color2
{
    background-color: #ffd6ef;
}
.color1
{
    background-color: #ffd6d6;
}
#Middel_section_2
{
    position: relative;
    height: 80vh;
}
.Middel_2
{
    
    width: 100%;
    height: 60vh;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.tite_header_2
{
    width: 400px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    position: absolute;
    left: 32%;
    top: 40vh;
    box-shadow: 10px 10px 10px 10px rgba(36, 36, 36, 0.251);
}
.tite_header_2 h1
{
    width: 350px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin: 10px;
    
}
.tite_header_2 p
{
    width:350px;
    font-size: 10px;
    color: rgb(74, 74, 74);
    margin: 10px;
    text-align: center;
    line-height: 20px;
}
.btn3
{
    font-size: 15px;
}
.middel_form_2
{
    width: 35%;
    margin: 40px 20%;
    background-color: #FFF4D6;
    padding: 8% 15%;
}
.middel_form_2 form input
{
    width: 300px;
    height: 50px;
    background-color:#D9D9D9;
    border: none;
    outline: none;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
    font-weight: 700;
    

}
.middel_form_2 form input::placeholder
{
    color: rgba(26, 25, 25, 0.674);
}
.middel_form_2 form button
{
    height: 50px;
    width: 170px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: center;
    background-color: #FF5959;
    border: none;
    outline: none;
   

}
footer
{
    width: 100%;
    height: 30vh;
    text-align: center;
    margin-top: 20px;
    background-color: #0B0D17;
}
footer h2
{
    font-family: Lobster;
    color: #FF5959;
    font-size: 50px;
    padding: 20px 0px;
}
footer p
{
    color: rgb(255, 255, 255);
}